* {
    margin: 0;
    
}

body {
    display: flex;
    justify-content: center;
}
#container {
    border: 15px solid red;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color:grey;
}

.box-first-pass {
    background-color: blue;
}

.box-second-pass {
    background-color: green;
}